main {display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F8FAFF;
}
@font-face {
    font-family: offside;
    src: url(fonts/Offside-Regular.ttf);
}
@font-face {
    font-family: manrope_r;
    src: url(fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: manrope_m;
    src: url(fonts/Manrope-Medium.ttf);
}
h1, h2, h3 {
    font-family: offside;;
}
p {
    font-family: manrope_r;
    font-size: 18px;
}

.btn_look {
    display: inline-block;
    position: relative;
    background-color: #EFFF94;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    border-style: none;
    box-shadow: 0 5px #FFD394;
    margin: 10px;
    font-family: manrope_m;
    color: #4D4C5B;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}
.margin_buttom_4px {
    margin-bottom: 4px;
}
.margin_top_40px {
margin-top: 40px;
}
.blue_bg {display: inline-block;
    background-color: #D5E1FF;
}
.lines_upsidedown {
    display: inline-block;
rotate: 180deg;
}
.purple_bg {
    display: inline-block;
    background-color: #D7D5FF;
}
.height_500 {
    width: auto;
    height: 500px;
}
p {
    max-width: 400px;
}
article {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.lines {
    margin-left: -10px;
    margin-right: -10px;
}

@media (width>800px){
    article {
    padding-left: 73px;
    padding-right: 73px;
    overflow: hidden;
}
.lines {
    margin-left: -73px;
    margin-right: -37px;
}
    .flex_row {
    display: flex;
flex-direction: row;
}

    .flex_col {
    display: flex;
    flex-direction: column;
}
.space_between {
    justify-content: space-between;
}
}